# ==================================================
# GLOBAL
# ==================================================
NODE_ENV=development
LOG_LEVEL=fatal

# ==================================================
# AUTH SERVICE
# ==================================================
AUTH_SERVICE_URL=http://ft_transcendence_auth:3002
AUTH_SERVICE_PORT=3002
AUTH_SERVICE_HOST=0.0.0.0
JWT_SECRET=create_your_super_secret_key_here
TOKEN_EXPIRY=3600 # en segundos
REFRESH_TOKEN_EXPIRY=84600 # en segundos
PROVISIONAL_TOKEN_LIFETIME=60
BCRYPT_ROUNDS=10
UNIQUE_SESSION=true

# ==================================================
# GAME SERVICE
# ==================================================
GAME_SERVICE_URL=http://ft_transcendence_game:3003
GAME_SERVICE_PORT=3003
GAME_SERVICE_HOST=0.0.0.0
GAME_SERVICE_DB_FILENAME=game.db
GAME_SERVICE_DB_PATH=./packages/game/db

# ==================================================
# USER SERVICE
# ==================================================
USER_SERVICE_URL=http://ft_transcendence_user:3001
USER_SERVICE_PORT=3001
USER_SERVICE_HOST=0.0.0.0
USER_SERVICE_DB_FILENAME=user.db
USER_SERVICE_DB_PATH=./packages/user/db

# ==================================================
# IMAGE SERVICE
# ==================================================
IMAGE_SERVICE_URL=http://ft_transcendence_images:3004
IMAGE_SERVICE_PORT=3004
IMAGE_SERVICE_HOST=0.0.0.0
CLOUDINARY_CLOUD_NAME=cloud
CLOUDINARY_API_KEY=api
CLOUDINARY_API_SECRET=secret
CLOUDINARY_URL=url
CLOUDINARY_DEFAULT_AVATAR=default

# ==================================================
# COMMS SERVICE
# ==================================================
COMMS_SERVICE_URL=http://ft_transcendence_comms:3005
COMMS_SERVICE_PORT=3005
COMMS_SERVICE_HOST=comms
WS_PING_INTERVAL_MS=30_000
WS_PONG_TIMEOUT_MS=10_000
WS_MAX_CONNECTIONS=1000
WS_MAX_CONNECTIONS_PER_USER=3

# ==================================================
# FRONTEND
# ==================================================
FRONTEND_URL=http://localhost:5173
FRONTEND_PORT=5173
FRONTEND_HOST=localhost

# Gateway CORS: mismo origen que Nginx
CORS_ORIGIN=http://localhost,https://localhost

# ==================================================
# INTER-SERVICE COMMUNICATION
# ==================================================
SERVICE_SECRET=create_your_secure_shared_secret_between_services
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=create_a_supersafe_redis_password
REDIS_DB=0
