# === AUTH SERVICE ===
PORT=3002
HOST=127.0.0.1
NODE_ENV=development
SERVICE_SECRET=tu_service_secret_aqui_algo_seguro_si_us_palu
JWT_SECRET=tu_jwt_secret_super_secreto_aqui_algo_seguro_si_us_plau
JWT_EXPIRES_IN=1h
USER_SERVICE_URL=http://localhost:3001

# === USER SERVICE ===
PORT=3001
HOST=127.0.0.1
NODE_ENV=development
LOG_LEVEL=FATAL
SERVICE_SECRET=tu_service_secret_aqui_minimo_algo_seguro_si_us_plau
DB_PATH=../../db-data/user.db