[0;1;31m×[0m docker.socket - Docker Socket for the API
     Loaded: loaded (]8;;file://machine02/usr/lib/systemd/system/docker.socket\/usr/lib/systemd/system/docker.socket]8;;\; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;31mfailed[0m (Result: service-start-limit-hit) since Tue 2025-12-02 17:01:16 CET; 5min ago
   Duration: 552us
 Invocation: b69db840fe774131b29f7ba5b6747409
   Triggers: [0;1;31m●[0m docker.service
     Listen: /run/docker.sock (Stream)
   Mem peak: 256K
        CPU: 497us

dic 02 17:01:16 machine02 systemd[1]: Starting docker.socket - Docker Socket for the API...
dic 02 17:01:16 machine02 systemd[1]: Listening on docker.socket - Docker Socket for the API.
dic 02 17:01:16 machine02 systemd[1]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mdocker.socket: Failed with result 'service-start-limit-hit'.[0m
