@import "tailwindcss";

body {
	background-color: #1a0f2e;
	font-family: 'Share Tech Mono', monospace;
	font-size: 1.5rem;
}

.input {
	background-color: #12081f;
	border: 2px solid #6d3bd1;
	color: #ffffff;
	font-size: 1.1rem;
	padding: 0.6rem;
	border-radius: 0.4rem;
	width: 100%;          
	margin-bottom: 0.75rem;
}

/* Form input para el dashboard de friends */
.input-sm {
    background-color: #12081f;
    border: 2px solid #6d3bd1;
    color: #ffffff;
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    width: 100%;
    margin-bottom: 0.1rem;
}

.input:focus {
	outline: none;
	border-color: #00ffff;
	box-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
}

/* Fondo con pixeles decorativos */
.retro-bg {
	position: relative;
	min-height: 100%;
	background-color: #1a0f2e;
	/* overflow: hidden; */
}

.retro-bg::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image:
		linear-gradient(rgba(200,140,255,0.08) 1px, transparent 1px),
		linear-gradient(90deg, rgba(200,140,255,0.08) 1px, transparent 1px);
	background-size: 40px 40px;
	pointer-events: none;
}

/* Título retro con degradado */
.retro-title {
	background: linear-gradient(90deg, #00ffff, #ff4fd8);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 2rem;
	line-height: 1.4;
	text-shadow:
		0 0 8px rgba(0, 255, 255, 0.6),
		0 0 14px rgba(255, 79, 216, 0.5);
}

/* Título retro con degradado SOLO para dashboard de friends*/
.retro-title-sm {
    background: linear-gradient(90deg, #00ffff, #ff4fd8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 1.20rem;
    line-height: 1.4;
	text-shadow:
		0 0 8px rgba(0, 255, 255, 0.6),
		0 0 14px rgba(255, 79, 216, 0.5);
}

/* Botones arcade */
.arcade-btn {
	border: 2px solid #ff4fd8;
	background-color: transparent;
	color: #ff4fd8;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px rgba(255, 79, 216, 0.6);
	transition: all 0.2s ease;
}

/* Dashboard friends - boton */
.arcade-btn-sm {
	border: 2px solid #ff4fd8;
	background-color: transparent;
	color: #ff4fd8;
	padding: 0.15rem 0.6rem;
	border-radius: 0.3rem;
	box-shadow: 0 0 10px rgba(255, 79, 216, 0.6);
	transition: all 0.2s ease;
	font-size: 0.70rem;
	line-height: 1;
}

/*
.arcade-btn-sm {
    border: 2px solid #ff4fd8;
    background-color: transparent;
    color: #ff4fd8;
    padding: 0.15rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(255, 79, 216, 0.6);
    transition: all 0.2s ease;
    font-size: 1rem;
	line-height: 1;
}
*/

.arcade-btn:hover {
	transform: translateY(-2px);
	box-shadow:
		0 0 12px #00ffff,
		0 0 24px rgba(0, 255, 255, 0.6);
}


.arcade-btn-sm:hover {
    transform: translateY(-2px);
    box-shadow:
        0 0 12px #00ffff,
        0 0 24px rgba(0, 255, 255, 0.6);
}

/* 🎮 GAME SCREEN ARCADE */
.arcade-screen {
	background-color: #000;
	width: 780px;
	height: 480px;
	border-radius: 1.2rem;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	
	/* Glow neón potente */
	box-shadow:
		0 0 10px rgba(0, 255, 255, 0.8),
		0 0 20px rgba(0, 255, 255, 0.6),
		0 0 30px rgba(255, 79, 216, 0.7),
		0 0 50px rgba(255, 79, 216, 0.5);
}

/* Botones del menú del juego */
.arcade-menu {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
}
/* 🔮 NEON BUTTON (pink) */
.neon-btn {
	background: transparent;
	color: #ff4fd8;
	border: 2px solid#ff4fd8;
	padding: 0.4rem 0.9rem;
	border-radius: 0.6rem;
	font-weight: bold;
	letter-spacing: 0.05em;
	transition: all 0.2s ease-in-out;
	
	box-shadow:
		0 0 6px rgba(0, 255, 255, 0.8),
		0 0 14px  rgba(0, 255, 255, 0.8);
}

.neon-btn:hover {
	background: rgba(109, 59, 209, 0.15);
	box-shadow:
		0 0 10px rgba(109, 59, 209, 1),
		0 0 22px rgba(109, 59, 209, 0.9),
		0 0 36px rgba(109, 59, 209, 0.7);
}	

/*base: Carga los estilos basicos de Tailwind, esto incluye CSS reset y html. HAce que la webs se vea consistente
components: Craga los componentes y clases de Tailwind. Sirve para definir componentes usando @layer components
utilities: Carga las clases utility*/